## Observations and Insights

## Dependencies and starter code

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)
mouseid_mouse_metadata = mouse_metadata.sort_values("Mouse ID")
mouseid_mouse_metadata.head(5)

   Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
49     a203    Infubinol  Female          20          23
50     a251    Infubinol  Female          21          25
51     a262      Placebo  Female          17          29
52     a275     Ceftamin  Female          20          28
53     a366     Stelasyn  Female          16          29

In [20]:
mouseid_study_results =study_results.sort_values("Mouse ID")
mouseid_study_results.head(5)

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
113      a203          0           45.000000                 0
389      a203          5           48.508468                 0
1295     a203         25           56.793208                 1
1675     a203         40           63.593490                 2
1577     a203         35           61.931650                 2

In [26]:
# Combine the data into a single dataset
study_data_complete = pd.merge(mouseid_study_results, mouseid_mouse_metadata, how = 'left', on="Mouse ID")
study_data_complete.head(10)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,a203,0,45.000000,0,Infubinol,Female,20,23
1,a203,5,48.508468,0,Infubinol,Female,20,23
2,a203,25,56.793208,1,Infubinol,Female,20,23
3,a203,40,63.593490,2,Infubinol,Female,20,23
4,a203,35,61.931650,2,Infubinol,Female,20,23
5,a203,10,51.852437,1,Infubinol,Female,20,23
6,a203,20,55.173336,1,Infubinol,Female,20,23
7,a203,15,52.777870,1,Infubinol,Female,20,23
8,a203,45,67.973419,2,Infubinol,Female,20,23
9,a203,30,59.523197,1,Infubinol,Female,20,23

## Summary statistics

In [30]:
regimen_average_study_data_complete = study_data_complete.groupby(['Drug Regimen']).mean()
regimen_average_study_data_complete

,Timepoint,Tumor Volume (mm3),Metastatic Sites,Age_months,Weight (g)
Drug Regimen,,,,,
Capomulin,21.565217,40.675741,0.713043,13.456522,19.965217
Ceftamin,19.747191,52.591172,1.179775,13.247191,27.398876
Infubinol,18.174157,52.884795,0.960674,16.230337,27.196629
Ketapril,19.707447,55.235638,1.297872,15.659574,27.861702
Naftisol,19.623656,54.331565,1.182796,12.000000,27.166667
Placebo,18.674033,54.033581,1.441989,10.734807,27.928177
Propriva,16.863354,52.322552,0.975155,10.894410,27.043478
Ramicane,21.425439,40.216745,0.548246,10.684211,19.679825
Stelasyn,19.226519,54.233149,0.872928,12.784530,27.856354
Zoniferol,19.368132,53.236507,1.230769,12.598901,27.692308

In [2]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

## Bar plots

In [3]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas

In [4]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [5]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [6]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [7]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [8]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [9]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [10]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [11]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen